.MainContainer {
  width: 100%;
  min-height: 100vh; 
  position: relative;
  background-image: url('../../assets/Jetzt-starten.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
}
.contactHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 30.5px 0;

}

.contactTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color:#ffffff;
  margin: 0;
  text-align: center;
}
.categoryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 100px;
  justify-items: center;
}

.categoryItem {
  cursor: pointer;
  transition: transform 0.2s;
}

.imageContainer {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover img {
  transform: scale(1.1); 
}

.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease-in-out;
}

.textOverlay p {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding: 0 20px;
  white-space: pre-line;
  transition: color 0.3s ease-in-out;
}

.textOverlay:hover p {
  color: #009999; 
}
/* .categoryGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  width: fit-content;
  margin: 0 auto;
}

.categoryItem {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  cursor: pointer;
  transition: transform 0.2s;
}

.categoryItem:hover {
  transform: scale(1.05);
}

.categoryImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 75px;
  overflow: hidden;
}

.categoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryImageOverlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.categoryTitle {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  padding: 0 19px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  text-align: center;
  z-index: 1;
}
 */
